
<div class="content-wrap">
  <igx-nav-drawer id="navigation" #drawer [pinThreshold]="5000">
    <ng-template igxDrawer>
      <nav>

        <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item);navigateRoute(item.route)">
          <igx-icon family="material">{{ item.name }}</igx-icon>
          <span>{{ item.text }}</span>
        </span>
      </nav>
    </ng-template>
  </igx-nav-drawer>

  <main>
    <igx-navbar class="fixed z-10">
      <igx-navbar-action>
          <button igxButton="icon" (click)="drawer.toggle()">
              <igx-icon>menu</igx-icon>
          </button>

          <button igxButton="icon" (click)="navigateBack()">
            <igx-icon>arrow_back</igx-icon>
        </button>
      </igx-navbar-action>
      
      <div igxNavbarTitle>
          {{"PokeCards" | translate}}
      </div>
      
      <button igxButton="icon" (click)="setlanguage('en')">
          US
      </button>
      <button igxButton="icon" (click)="setlanguage('pt')">
          BR
      </button>
    </igx-navbar>

    <div class="p-20 ">
      <div class="bg-white">
          <router-outlet ></router-outlet>
        </div>
      </div>
  </main>
</div>


<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


